/src/.deps
/src/.libs
/autom4te.cache/
Makefile
Makefile.in
config.log
config.status
libtool
aclocal.m4
compile
config.guess
configure
depcomp
install-sh
ltmain.sh
missing
config.sub
*.swp
*.lo
*.o
*.la
*.so
*.a
*.dll
*~*
