a.out
*.log
*~
*swp
*.o
*.a
*.status
*.deb
*.rpm
*.tgz
*.lo
*.la
*.sl
*.po
*.Plo
*.jar
*.iml
*.setting
*.tar.gz
*.gz
*.xz
*.bz2
*.zip
*.rar
/.gradle
/.idea
/.nb-gradle
/out
/build
/logs
/bin
/lib
/libs
/src
/obj
/target
/classes
/jxnet-context/.gradle
/jxnet-context/build
/jxnet-context/target
/jxnet-context/out
/jxnet-core/.gradle
/jxnet-core/build
/jxnet-core/target
/jxnet-core/out
/jxnet-static/.gradle
/jxnet-static/build
/jxnet-static/target
/jxnet-static/out
/jxnet-dynamic/.gradle
/jxnet-dynamic/build
/jxnet-dynamic/target
/jxnet-dynamic/out
/jxnet-android/.gradle
/jxnet-android/build/
/jxnet-android/target
/jxnet-android/out
/jxnet-example/.gradle
/jxnet-example/build/
/jxnet-example/target
/jxnet-example/out
/jxnet-native/cmake-build-debug/
/jxnet-native/.idea
/jxnet-native/test
/jxnet-native/build
/jxnet-native/libjxnet.so
/jxnet-native/libjxnet.so.a
/jxnet-native/jxnet.dll
/jxnet-native/CMakeFiles
/jxnet-native/CMakeCache.txt
/jxnet-native/cmake_install.cmake
/jxnet-native/.gradle/
/jxnet-native/out
/jxnet-native/src/.deps
/jxnet-native/src/.libs
/jxnet-native/autom4te.cache/
/jxnet-native/Makefile
/jxnet-native/src/Makefile
/jxnet-native/Makefile.in
/jxnet-native/src/Makefile.in
/jxnet-native/config.log
/jxnet-native/config.status
/jxnet-native/libtool
/jxnet-native/aclocal.m4
/jxnet-native/compile
/jxnet-native/config.guess
/jxnet-native/configure
/jxnet-native/depcomp
/jxnet-native/install-sh
/jxnet-native/ltmain.sh
/jxnet-native/missing
/jxnet-native/config.sub
/jxnet-native/m4/libtool.m4
/jxnet-native/m4/lt~obsolete.m4
/jxnet-native/m4/ltoptions.m4
/jxnet-native/m4/ltsugar.m4
/jxnet-native/m4/ltversion.m4
/jxnet-native/libpcap/bpf_filter.c
/jxnet-native/libpcap/net
/jxnet-native/libpcap/Makefile
/jxnet-native/libpcap-latest/Makefile
/jxnet-native/libpcap-latest/config.log
/jxnet-native/libpcap-latest/config.cache
/jxnet-native/libpcap-latest/config.status
/jxnet-native/libpcap-latest/stamp-h
/jxnet-native/libpcap-latest/stamp-h.in
/jxnet-native/libpcap-latest/autom4te.cache/
/jxnet-native/libpcap-latest/.devel
/jxnet-native/libpcap-latest/filtertest
/jxnet-native/libpcap-latest/findalldevstest
/jxnet-native/libpcap-latest/pcap-config
/jxnet-native/libpcap-latest/pcap-filter.manmisc
/jxnet-native/libpcap-latest/pcap-linktype.manmisc
/jxnet-native/libpcap-latest/pcap-savefile.manfile
/jxnet-native/libpcap-latest/pcap-tstamp.manmisc
/jxnet-native/libpcap-latest/pcap.3pcap
/jxnet-native/libpcap-latest/pcap_compile.3pcap
/jxnet-native/libpcap-latest/pcap_datalink.3pcap
/jxnet-native/libpcap-latest/pcap_dump_open.3pcap
/jxnet-native/libpcap-latest/pcap_get_tstamp_precision.3pcap
/jxnet-native/libpcap-latest/pcap_list_datalinks.3pcap
/jxnet-native/libpcap-latest/pcap_list_tstamp_types.3pcap
/jxnet-native/libpcap-latest/pcap_open_dead.3pcap
/jxnet-native/libpcap-latest/pcap_open_offline.3pcap
/jxnet-native/libpcap-latest/pcap_set_tstamp_precision.3pcap
/jxnet-native/libpcap-latest/pcap_set_tstamp_type.3pcap
/jxnet-native/libpcap-latest/selpolltest
/jxnet-native/libpcap-latest/bpf_filter.c
/jxnet-native/libpcap-latest/net
/jxnet-native/libpcap-latest/libpcap.so.1.7.4
/tools/build
/scripts/jxnet.dll

