*.log
*~
*swp
*.o
*.so
*.a
*.status
*.deb
*.rpm
*.tgz
*.lo
*.la
*.po
*.Plo
*.jar
*.iml
*.setting
*.tar.gz
*.gz
*.xz
*.bz2
*.zip
*.rar
/.gradle
/.idea
/.nb-gradle
/out
/build
/logs
/bin
/lib
/libs
/obj
/target
/classes
/jxnet-core/.gradle
/jxnet-core/build
/jxnet-core/target
/jxnet-packet/.gradle
/jxnet-packet/build
/jxnet-packet/target
/jxnet-util/.gradle
/jxnet-util/build
/jxnet-util/target
/jni/src/.deps
/jni/src/.libs
/jni/autom4te.cache/
/jni/Makefile
/jni/src/Makefile
/jni/Makefile.in
/jni/src/Makefile.in
/jni/config.log
/jni/config.status
/jni/libtool
/jni/aclocal.m4
/jni/compile
/jni/config.guess
/jni/configure
/jni/depcomp
/jni/install-sh
/jni/ltmain.sh
/jni/missing
/jni/config.sub
/jni/m4/libtool.m4
/jni/m4/lt~obsolete.m4
/jni/m4/ltoptions.m4
/jni/m4/ltsugar.m4
/jni/m4/ltversion.m4
